{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page de connexion</title>

  <!-- Bootstrap CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <style>
    .login-container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .custom-width{
      width: 400px;
    }
  </style>

</head>

<body>
  
  <div class="container login-container">
    <img src="{% static 'img/webpick_logo.png' %}" alt="logo" />
    <div class="card custom-width">
      <div class="card-header text-center">Connectez-vous</div>
      <div class="card-body">
        {% if message %}
          <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        <form action="{% url 'login_page' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" class="form-control my-2" id="username" name="username" placeholder="Entrez votre nom d'utilisateur">
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control my-2" id="password" name="password" placeholder="Entrez votre mot de passe">
          </div>
          <button type="submit" class="btn btn-primary my-2">Se connecter</button>
        </form>
        <p class="text-center my-2">Pas encore de compte? <a href="{% url 'sign_up_page' %}">Inscrivez-vous</a></p>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and jQuery -->
  <script src="{% static 'js/jquery.slim.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
